@use "sass:color";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../lib/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
$font-family-sans-serif: 'PT Sans Narrow', Arial, Helvetica, sans-serif;

$body-color-dark: #ddd;
$body-bg-dark: #000;
$primary: #b0ddff;
$border-radius: 0.25rem;
$border-radius-sm: 0.5 * $border-radius;
$border-radius-lg: 1.5 * $border-radius;
$border-radius-xl: 3 * $border-radius;
$border-radius-xxl: 6 * $border-radius;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../lib/bootstrap/scss/maps";
@import "../lib/bootstrap/scss/mixins";
@import "../lib/bootstrap/scss/root";

// 6. Import the whole Bootstrap library:
@import "../lib/bootstrap/scss/bootstrap.scss";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../lib/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@import '../lib/fontawesome/scss/fontawesome.scss';
@import '../lib/fontawesome/scss/solid.scss';
@import '../lib/fontawesome/scss/brands.scss';

@mixin smartphone {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin fancy-panel($panel-color: color.scale($primary, $lightness: -75%)) {
	margin: $grid-gutter-width 0;
	border-radius: 2 * $border-radius;
	padding: calc($grid-gutter-width/4) + $border-radius;
	background-color: $panel-color;
	border: 1px solid color.scale($panel-color, $lightness: -20%);

	@include smartphone {
		border: 0;
		border-radius: 0;
		margin: 0 0 calc($grid-gutter-width/2) 0;
	}
}

html {
	background: linear-gradient(150deg, color.scale($primary, $lightness: -70%) 0%, color.scale($primary, $lightness: -50%) 50%, color.scale($primary, $lightness: -80%) 100%);
	background-attachment: fixed;
}

body {
	background: none;

	@include smartphone {
		padding: 0 !important;
		font-size: max(1em, 20px);
	}

	> main {
		@include fancy-panel;
	}

	> header {
		@include fancy-panel;
		display: flex;
		justify-content: space-between;

		h1 {
			a {
				display: block;
				font-size: 0;
				height: 38px;
				width: 200px;
				background: url(/img/rockaway-logotype.svg) left center no-repeat;
				background-size: cover;
			}
		}

		label#nav-toggle {
			display: none;

			@include smartphone {
				font-size: 200%;
				display: block;
				position: absolute;
				z-index: 2;
				top: calc($grid-gutter-width/4);
				right: calc($grid-gutter-width/2);
			}
		}

		input#nav-checkbox {
			height: 0;

			@include smartphone {
				&:checked ~ nav {
					height: 300px;
				}
			}
		}

		nav {
			a {
				background: $primary;
				display: inline-block;
				padding: 4px 16px;
				color: $body-color;
				font-size: 120%;
				border-radius: $border-radius;
				text-decoration: none;

				&:hover {
					color: $body-color;
					background: color.scale($primary, $lightness: -50%);
				}
			}

			@include smartphone {
				position: absolute;
				overflow-y: hidden;
				display: block;
				top: 0;
				left: 0;
				right: 0;
				height: 0;
				transition: height 0.2s ease;

				a {
					display: block;
					width: 100%;
					padding: 16px;
					border-radius: 0;
					border-bottom: 1px solid $body-color-dark;
				}
			}
		}
	}

	> footer {
		@include fancy-panel;
		font-size: 80%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		a#admin-login {
			margin-left: 0.5em;
		}

		a {
			display: inline-block;
			border-left: 1px solid #fff;
			padding: 0 0.5em;
			text-decoration: none;
		}

		nav {
			a:first-child {
				border: none;
			}
		}

		a:hover {
			text-decoration: underline;
		}

		@include smartphone {
			margin-bottom: 0;

			span,
			nav {
				width: 100%;
				text-align: center;
				display: block;
			}

			nav a {
				display: block;
				border: 0;
			}
		}
	}
}

@mixin flex-grid-column {
	@include make-col-ready();

	@include media-breakpoint-up(sm) {
		@include make-col(6);
	}

	@include media-breakpoint-up(md) {
		@include make-col(4);
	}

	@include media-breakpoint-up(lg) {
		@include make-col(3);
	}

	@include media-breakpoint-up(xxl) {
		@include make-col(2);
	}
}

.artist-gallery {
	@include make-row();

	section {
		@include flex-grid-column;
		margin-bottom: 16px;
	}
}

div.artist-card {
	border-radius: $border-radius;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: calc($container-padding-x / 2);

	&.long-name h4 {
		font-size: 1.2em;
	}

	h4 {
		background-color: rgba(0, 0, 0, 0.8);
		padding: calc($container-padding-x / 2);
		margin: 0;
		border-radius: 0 0 $border-radius $border-radius;

		a {
			color: #fff;
			text-decoration: none;
		}
	}
}

form > .row {
	margin-bottom: calc($container-padding-x / 4);
}

hr {
	opacity: 1;
}