@page
@model IndexModel

<div class="text-center">
	<h1 class="display-4">Rockaway</h1>
	<h2>Keeping Music Live since 2024.</h2>
	<p>
		<a class="btn btn-primary" asp-page="Artists">Artists</a>
		<a class="btn btn-primary" asp-page="Venues">Venues</a>
	</p>
    
</div>
