@page
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Email us: <a id="contact-us-email" href="mailto:hello@rockaway.dev">hello@rockaway.dev</a></p>
<p>Phone us: <a id="contact-us-phone" href="tel:+441632960666"></a></p>
@*
	fake phone number as recommended by Ofcom:
	https://www.ofcom.org.uk/phones-telecoms-and-internet/information-for-industry/numbering/numbers-for-drama
*@
